module : { 
    chargeurs : [ 
        //  Assurez-vous que 'haml-jsx' est le dernier !
        {  tester : / \. js $ / ,  chargeurs : [ ' babel ' , ' haml-jsx ' ] , ... } ,     
    
        //  Fonctionne avec le remplacement de module à chaud :
        {  tester : / \. js $ / ,  loaders : [ ' react-hot ' , ' babel ' , ' haml-jsx ' ] , ... } ,      
    ]
    } ,